<div class="cust">
  <h2><%= customer.full_name %>
  </h2>
  <div class="resize">
    <p><%= image_tag customer.image %></p>
  </div>
  <p></p>
  <p>
    <strong>Province:
    </strong>
    <% if customer.province.inspect == 'nil' %>None
    <% else %>
      <%= customer.province.name %>
    <% end %>
  </p>
  <p><%= customer.phone_number %>
  </p>
  <p><%= customer.email_address %>
  </p>
</div>
